.hero {
    width: 100%;
    padding-inline: var(--side-space);
    background-color: var(--bg-black);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    padding-block: 7rem;
}
.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-size: 6rem;
        color: var(--white);
        font-weight: 600;
    }
    p {
        font-size: 1.6rem;
        color: var(--white);
        opacity: .4;
        margin-top: 3rem;
        margin-bottom: 6rem;
        margin-right: 15%;
    }
}
.btn {
    font-size: 1.6rem;
    color: var(--black);
    padding-block: 1rem;
    padding-inline: 2.8rem;
    border: none;
    border-radius: .6rem;
    background-color: var(--yellow);
    cursor: pointer;
    width: fit-content;
}

.hero-img {
    width: 95%;
    border-radius: 2rem;
    margin: auto;
}


/* responsive */

@media (max-width: 991px) {
    .hero-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .text-area {
        p {
            margin-right: 40%;
        }
    }
    .hero-img {
        width: 70%;
    }
}
  
@media (max-width: 768px) {
    .text-area {
        p {
            margin-right: 20%;
        }
    }
    .hero-img {
        width: 90%;
    }
}


@media (max-width: 450px) {
    .hero-container {
        padding-block-start: 4rem;
    }
    .text-area {
        h1 {
            font-size: 5rem;
        }
        p {
            margin-right: 0%;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
    .hero-img {
        width: 100%;
    }
}